{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}Projeto Integrador{% endblock %}
    </title>

    <link rel="stylesheet" href="{% static 'app/css/style.css' %}" />
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'app:index' %}">Home</a></li>
                <li><a href="{% url 'app:sobre' %}">Sobre</a></li>
                <li><a href="{% url 'app:contatos' %}">Contatos</a></li>
                <li><a href="{% url 'app:doacao' %}">Doação</a></li>
            </ul>
        </nav>
    </header>

    <main>{% block content %}{% endblock content %}</main>
</body>
</html>